.container-similar-products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    box-shadow: 0 0 10px rgb(39, 140, 255)

}