.card-purchase{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(207, 226, 235, 0.959);
    box-shadow: 0 0 10px rgb(116, 175, 241);
}